.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 12px;
  width: 300px;
  margin: 0 auto;
}
.input {
  padding: 8px;
  font-size: 14px;
}

.error {
  color: red;
  font-size: 12px;
}
